<ion-header-bar class="headerbar" >
  <h1 class="title" align="center">ABOUT</i></h1>
</ion-header-bar>

<ion-content class="background">
	<div class="body padding" style="font-size:3vw">Movement is an application and visualization that uses location data generated automatically by mobile devices to increase community awareness and connect people with shared location histories. We collect cryptographically-anonymous data following a new standard of privacy preservation<br><br>Brought to you by:<br><br>
	<img src="/img/CornellTech.png" class="padding-top:40%; display:inline-block;"/><br><br>
	<img src= "/img/Aol.png"/><br><br>
	We'd love to hear your thoughts on Movement! <br> <br>Send your feedback to s.tech.cornell@gmail.com</div>
</ion-content>