<ion-header-bar class="headerbar">
  <h1 class="title" align="center"><i class="icon ion-record dark"></i></h1>
</ion-header-bar>

<ion-content class="background" ng-controller="NavCtrl">
  	<div class="welcome"><strong>Welcome!</strong> <br></div>
  	<p class="body padding" style="padding-top:30%;">
  	Register to star contributing to the Movement display and connect with other attendees who have visited the same places as you.<br><br>
    <button class="button" style= "width:80%" ng-click= "register()">Register</button>
  </p>
</ion-content>