.background{
	background-color: #E8E8E8;
	font-family: "Futura";
}
.headerbar{
	background-color: #DBDBDB;
	color: #6E6E6E;
	font-size: 16px;
	font-size: 5vw;
}
.highlighter{
	color: #63D4CF !important;
}

.angular-google-map-container { height: 400px; }

.pop-up-button .btncode{
	margin-right: 10%;
	margin-left: 10%;
}

.button{
	color: white;
	border-radius: 5px;
	background-color: #63D4CF;
	font-size: 3vw;
	border:0px solid;
	font-family: "Futura";
	position: fixed;
	margin-right: 10px
}
.welcome{
	font-family: "Futura";
	color: #6E6E6E;
	width:100%;
	padding-left:35%;
  	padding-right: 15%;
	font-size: 7vw;
	padding-top:20%;
	border-style: dotted;
	position: fixed;
}
.body {
	font-family: "Futura";
	color: #6E6E6E;
	margin:auto;
	width:100%;
	font-size: 5vw;
	line-height: 100%;
	text-align: center;
	position:fixed;
	border-style: dotted;
	padding-top:5%;
	
}

.padding{
	padding-left:15%;
	padding-right: 15%;
}
